<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose User Type</title>
    
</head>
<body>
  <section>
    <h1 >Library Login</h1>
  <div class="container">
    <div>
        <form th:action="@{/do_library_login}" method="post">
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" id="email" name="l_email" required>
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="l_password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}" class="error-text"></p>
    </div>
  </div> 
  </section>
</body>
</html>
