<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body background="white">
    <section>
    <h1>
        welcome to dashboard
    </h1>
    
    <!-- The sidebar -->
<div class="sidebar">
    <a class="active" href= "/library/index">Home</a>
    <a href= "/library/books">Books</a>
    <a href= "/library/addbook">Add Book</a>
    <a href="#contact">Listed book</a>
    <a href="#about">Orders</a>
    <a href="/logout">Logout</a>
  </div>
  
  <!-- Page content -->
  <div class="content">
    ..
  </div>
    </section>
</body>
</html>