<!DOCTYPE html>
<html lang="en" xmlns="https://w3.org/1999/xhtml"
                xmlns:th =  "http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Borrow & Read - Welcome!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
</head>
<body>

    <div class="container">
        <h1>Welcome to Borrow & Read!</h1>
        <h2>Select an action</h2>
        <br>
        <div class="button-container">
          <form th:action="user_reg" method="get">
            <button type="submit" class="submit">Registration</button>
          </form>
          <form th:action="user_login" method="get">
            <button type="submit" class="submit">Login</button>
          </form>
        </div>
      </div>
      
</body>
</html>
