.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submit {
    background-color: rgb(8, 99, 76);
    color: rgb(255, 255, 255); 
    font-size: 105%;
    padding: 10.5px 12px;
    border: 1 px solid #dcdfe6;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
    width: 150px; /* Set button width */
  height: 50px;
  }

.container {
  background-color: #c3ebf5;
  margin: 50px auto;
  width: 70%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-input {
  width: 10000px; /* Adjust the width as needed */
}




button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:#1e45a6;
  color: #eff0f6;
  cursor: pointer;
  align-items: center;
  text-align: left; /* Add this line to align button text to the left */
}


button:hover {
  background-color: #ddd;
}
h1{
  text-align:center;
  text-decoration: wavy;
}

h2 {
  text-align: center; 
}
body {
  font-family: sans-serif;
  background-color: #c3ebf5;
  margin: 0;
  padding: 0;
}
  
label {
  display: block; /* Make labels on separate lines */
  margin-bottom: 5px; /* Add space between labels and inputs */
  font-weight: bold; /* Make labels bolder */
}

/* Style the input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%; /* Make inputs full width */
  padding: 10px; /* Add padding to inputs */
  border: 1px solid #ccc; /* Add border to inputs */
  border-radius: 3px; /* Add rounded corners to inputs */
}

.bg-primary{
  background: #1e45a6;
  color: #eff0f6;
}
.text-white{
  color: #eff0f6;
}
.banner{
  height: 93vh;
  width: 100%;
  background: url(../img/banner.jpg);
  background-size: cover;
}

.banner2{
  height: 93vh;
  width: 100%;
  background: #336aea;
}